{% extends 'ticket/base2.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<style>
.dashlogo {
	width: 300px;
	height: 300px;
}
.dashlogo1 {
	width: 300px;
	height: 300px;
}


</style>

<div class="container">
	<div class="row">



		<div class="col-lg-4 col-md-4 col-xs-4">
			<center>
				<a href = "/admin/ticket/shuttle/">
					<img src="{% static 'shuttle/driver.jpg' %}" class="img-reponsive dashlogo1">
					
				</a>
				<h6>Assign Driver to Shuttle</h6>
			</center>
		</div>


		<div class="col-lg-4 col-md-4 col-xs-4">
			<center>
				<a href = "/admin/ticket/stations/">
					<img src="{% static 'shuttle/route.jpg' %}" class="img-reponsive dashlogo1">
					
				</a>
				<h6>Add Route/s</h6>
			</center>
		</div>
	</div>

</div>

{% endblock content %}