{% extends 'ticket/studentbase.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<style>
.dashlogo {
	width: 300px;
	height: 300px;
}
.dashlogo1 {
	width: 300px;
	height: 300px;
}

.shuttle {
    width: 500px;
}


.imgs {
    width: auto;
}

.btn-success1, .btn-success1:hover {
	background-color: #103C14;
	color: white;
}
</style>
{% if request.user.is_superuser %}
<script>
		window.location.href = '/ticket/admindash';

</script>
{% endif %}

{% for items in role %}
	{% if items.role_id  == 8 %}
	<script>
		window.location.href = '/ticket/student_page';

	</script>

	{% elif items.role_id == 10 %}
	<script>
		window.location.href = '/ticket/fts_page';

	</script>

    {% elif items.role_id == 9 %}
    <script>
        window.location.href = '/ticket/employee_page';

    </script>
	{% endif %}

	{% empty %}

	<div class="container-fluid">
		<center>
			<p><strong>You have no role assigned yet. <i>Please contact the SMS Administrator. </i></strong><a href="/logout/" class="btn btn-success1">Logout</a></p>
		</center>
	</div>

	

{% endfor %}

{% endblock content %}