{% extends 'ticket/popupbase.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-xs-4 chrt">
				<center>Gender Visualization of Registered Users</center>
	          <canvas id="myChart"></canvas>
	        </div>
	        <div class="col-lg-4 col-md-4 col-xs-4 chrt2">
		        <center>Shuttle Ride for this Month</center>
		      <canvas id="myChart1"></canvas>
		    </div>
		    <div class="col-lg-4 col-md-4 col-xs-4 chrt2">
		        <center>Peak Hours This Month</center>
		      <canvas id="myChart2"></canvas>
		    </div>
		</div>

	</div>
</section>


<script>
 const config = {
  type: 'pie',
  data: {
    datasets: [{
      data: [{{male|safe}}, {{female|safe}}],
      backgroundColor: [
      '#007BFF', '#DC3545', '#FFC107', '#343A40', '#28A745', '#6C757D'
      ],
      label: 'Ridership'
    }],
    labels: ['Male Passenger', 'Female Passenger']
  },
  options: {
    responsive: true
  } 
  };

  const myChart = new Chart(
  	document.getElementById('myChart'),
  	config,	
  	);
</script>

<script>
 const config1 = {
  type: 'bar',
  data: {
    datasets: [{
      data: [{{w1|safe}}, {{w2|safe}}, {{w3|safe}}, {{w4|safe}}],
      backgroundColor: [
      '#007BFF', '#DC3545', '#FFC107', '#343A40', '#28A745', '#6C757D'
      ],
      label: 'This Month Weekly Ridership'
    }],
    labels: ['1st Week', '2nd Week', '3rd Week', '4th Week']
  },
  options: {
    responsive: true
  } 
  };

  const myChart1 = new Chart(
  	document.getElementById('myChart1'),
  	config1,	
  	);
</script>

<script>
 const config2 = {
  type: 'line',
  data: {
    datasets: [{
      data: [{{t7|safe}},{{t8|safe}}, {{t9|safe}}, {{t10|safe}}, {{t11|safe}}, {{t12|safe}}, {{t1|safe}}, {{t2|safe}}, {{t3|safe}}, {{t4|safe}}, {{t5|safe}}, {{t6|safe}}],
      backgroundColor: [
      '#007BFF', '#DC3545', '#FFC107', '#343A40', '#28A745', '#6C757D'
      ],
      label: 'Population'
    }],
    labels: ['7AM', '8AM', '9AM', '10AM', '11AM', '12NN', '1PM', '2PM', '3PM', '4PM', '5PM', '6PM']
  },
  options: {
    responsive: true
  } 
  };

  const myChart2 = new Chart(
  	document.getElementById('myChart2'),
  	config2,	
  	);
 </script>
{% endblock content %}