{% extends 'ticket/popupbase.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<style>
	.se {
		width: 200px;
	}
</style>
<div class="container">
	<div class="small-box bg-warning1">
	  <div class="inner">
	    <h3>{{hm}}
	      

	    </h3>

	    <p>This Month's Ridership</p>
	  </div>
	  <div class="icon">
	    <i class="ion ion-android-bus"></i>
	  </div>
	  
	</div>
	
	<form method="POST">
		{% csrf_token %}

		Start Date: &nbsp;<input type="date" name="s" required class="form-control se">

		End Date: &nbsp;<input type="date" name="e" required class="form-control se">
		<br>
		<input type="submit" name="squery" value="Filter" class="btn btn-success">

	</form>

	<br>
	<br>
	<a href="/ticket/datav" class="btn btn-info">Go Back</a>
	
</div>

{% endblock content %}