{% extends "ticket/ftsbase.html" %}
{% load static %}
{% block content %} 

<style>
  .bg-success1 {
    background-color: #103C14;
    color: white;
  }

  .bg-warning1 {
    background-color: #FFBC14;
  }

  .icheck-primary1 {
    background-color: #103C14;
    color: white;
  }

  .bg-danger1 {
    background-color: white;
  }

  .mi {
    color: black;
  }

  .bg-gradient-success1 {
    background-color: #103C14;
    color: white;
  }

  .btn-success1, .btn-success1:hover {
    background-color: #103C14;
    color: white;
  }

  .edit1, .edit1:hover {
    color: #103C14;
  }
  .second-row { flex-grow: 1; border: none; margin: 0; padding: 0; width: 100%;}
</style>
<section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success1">
              <div class="inner">
                <h3>{{tc}}</h3>

                <p>Tickets</p>
              </div>
              <div class="icon">
                <i class="ion ion-card"></i>
              </div>
              <a href = "#" class="small-box-footer" onclick="window.open('/ticket/fts_ticket','popupticket','width=950,height=600'); return false;">
                             More info <i class="fas fa-arrow-circle-right"></i>
                          </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning1">
              <div class="inner">
                <h3>{{sc}}
                  

                </h3>

                <p>Shuttle/s</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-bus"></i>
              </div>
              <a href = "#" class="small-box-footer" onclick="window.open('/ticket/add_shuttle','popupticket','width=950,height=600'); return false;">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger1">
              <div class="inner">
                <h3>{{cc}}</h3>

                <p>Health Declaration Records</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-clipboard"></i>
              </div>
              <a href = "#" class="small-box-footer mi" onclick="window.open('/ticket/hdf_list','popupticket','width=1400,height=1300'); return false;">
                             More info <i class="fas fa-arrow-circle-right"></i>
                          </a>
              
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
  

            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Trip Tickets this Month
                </h3>

                <div class="card-tools">
                  <ul class="pagination pagination-sm">
                    <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <ul class="todo-list" data-widget="todo-list">
                  {% for items in allmtx %}
                  <li>
                    <!-- drag handle -->
                    <span class="handle">
                      <i class="fas fa-ellipsis-v"></i>
                      <i class="fas fa-ellipsis-v"></i>
                    </span>
                    <!-- checkbox -->
                    <div  class="icheck-primary1 d-inline ml-2">
                      {% if day|add:"0" > items.start_date|date:"d"|add:"0"  %}
                      <input type="checkbox" value="" name="todo1{{items.ticket_id}}" id="todoCheck1{{items.ticket_id}}" checked>

                      {% else %}
                      <input type="checkbox" value="" name="todo1{{items.ticket_id}}" id="todoCheck1{{items.ticket_id}}">
                      {% endif %}
                      
                      <label for="todoCheck1{{items.ticket_id}}"></label>
                    </div>
                    <!-- todo text -->
                    {{items.start_date}} -- {{items.description}}
                    <!-- Emphasis label -->

                    {% if day|add:"0" == items.start_date|date:"d"|add:"0"  %}
                    <small class="badge badge-danger"><i class="far fa-clock"></i> TODAY {{items.start_time|date:"h:i A"}}</small>
                    {% else %}
                    <small class="badge badge-success"><i class="far fa-clock"></i> DONE {{items.start_time|date:"h:i A"}}</small>
                    {% endif %}
                    
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                      <a href="#" onclick="window.open('/ticket/view_ticket/{{items.ticket_id}}','popupticket','width=1400,height=1300'); return false;" class="edit1">
                             <i class="fas fa-edit"></i></i>
                          </a>
                      <a href="" target="_blank"></a>
                      <i class="fas fa-trash-o"></i>
                    </div>
                  </li>
                  {% endfor %}
                 
                
                </ul>
              </div>
              <!-- /.card-body -->
             
            </div>
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

           

  

            <!-- Calendar -->
            <div class="card bg-gradient-success1">
              <div class="card-header border-0">

                <h3 class="card-title">
                  <center>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#" onclick="window.open('/ticket/calendar','popupticket','width=1400,height=1300'); return false;" class="btn btn-success1">Click to View Full Calendar</a>
                  </center>
                </h3>
                <!-- tools card -->
                
                <!-- /. tools -->
              </div>
              <!-- /.card-header -->
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->

      
    </section>
    <!-- /.content -->

{% endblock content %}