{% extends 'ticket/popupbase.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<style>
	.btn-success1, .btn-success1:hover, .thead-custom {
    background-color: #103C14;
    color: white;
	}
	.btn-primary1 {
		background-color: white;
	}
	.btn-white {
		background-color: white;
		color: black;
	}

	.btn-gray {
		background-color: gray;
	}
</style>
<section>
	<div class="container-fluid">
		<form method="POST">
			{% csrf_token %}
			<table class="table">
				<thead class="thead-custom">
					<tr>
						<th>Username</th>
						<th>Full Name</th>
						<th>Email Address</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for items in us %}
					<tr>
						<td>
							{{items.username}}
						</td>

						<td>
							{{items.first_name}} {{items.last_name}}
						</td>

						<td>
							{{items.email}}
						</td>

						<td>
							
							{% if items.is_active == True %}
							<small class="badge badge-warning"><i class="far fa-user"></i>Active User</small>
							

							{% else %}
							<small class="badge badge-secondary"><i class="far fa-user"></i>Inactive User</small>
							
							{% endif %}
						</td>

						<td>
							<a href="/ticket/edit_user/{{items.id}}" class="btn btn-success1">Edit User</a>
						</td>

					</tr>

					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>
</section>
{% endblock content %}